<div id="home">
  <div class="row">
    <img src="/img/logo.png" alt="" class="mx-auto d-block">
  </div>
  <div class="row">
    <!-- Search form -->
    <input class="form-control col-8 mx-auto" type="text" placeholder="Search codeBucket" aria-label="Search">
  </div>
  <div class="row">
    <h3>Cards</h3>
    <ul id="topic-list" class="list-group">
      {{#each card}}
      <li data-id="{{this.id}}" class="list-group-item">
        <a href="topic/{{this.id}}">{{this.cardName}}</a>
        <button class="btn btn-danger float-right delete">ｘ</button>
      </li>
      <li data-id="{{this.id}}" class="list-group-item">
        <p>{{this.id}} • {{this.cardDef}}</p>
      </li>
      <li data-id="{{this.id}}" class="list-group-item">
        <p>
          <h4>Example:</h4>
          <pre class="prettyprint"> {{this.example}} </pre>
        </p>
      </li>
      {{/each}}
    </ul>
  </div>
  {{!-- <pre class="prettyprint">
code here
</pre> --}}

</div>